<div class="card-body login-card-body">
    <p class="login-box-msg text-center">Sign in to start your session</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
            <div class="input-group">
                <input type="email" class="form-control" formControlName="Email" placeholder="Email"
                    [ngClass]="{'is-invalid': loginForm.get('Email')?.invalid && loginForm.get('Email')?.touched}" />
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>

            <div class="invalid-feedback d-block"
                *ngIf="loginForm.get('Email')?.hasError('required') && loginForm.get('Email')?.touched">
                Email is required
            </div>

            <div class="invalid-feedback d-block"
                *ngIf="loginForm.get('Email')?.hasError('email') && loginForm.get('Email')?.touched">
                Please provide a valid email
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="mb-3">
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="Password"
                    placeholder="Password"
                    [ngClass]="{'is-invalid': loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched}" />

                <div class="input-group-text" (click)="togglePassword()" style="cursor: pointer;">
                    <span class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></span>
                </div>
            </div>

            <div class="invalid-feedback d-block"
                *ngIf="loginForm.get('Password')?.hasError('required') && loginForm.get('Password')?.touched">
                Password is required
            </div>
        </div>

        <!-- BUTTON -->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">
                Sign In
            </button>
        </div>
    </form>

    <div class="text-center my-3 text-muted">OR</div>

    <button class="btn btn-outline-danger w-100 mb-2">
        <i class="fab fa-google me-2"></i> Continue with Google
    </button>

    <button class="btn btn-outline-dark w-100">
        <i class="fab fa-github me-2"></i> Continue with GitHub
    </button>

    <div class="text-center">
        <p class="mb-1"><a routerLink="/forgot-password">I forgot my password</a></p>
        <p class="mb-0"><a routerLink="/register">Register a new membership</a></p>
    </div>
</div>