<div class="auth-page d-flex align-items-center justify-content-center min-vh-100">
    <div class="auth-box w-100" style="max-width: 440px;">
        <div class="text-center mb-4">
            <h3 class="fw-bold">PMS</h3>
        </div>

        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body p-4">
                <router-outlet></router-outlet>
            </div>
            <!-- <div class="route-container" [@routeFadeAnimation]="routeState">
                <router-outlet #o="outlet"></router-outlet>
            </div> -->
        </div>
    </div>
</div>