<div class="login-box">
    <div class="login-logo">
        <a href=""><b>PMS</b></a>
    </div>
    
    <!-- <div class="card-header text-center">
        <img src="{{this.appLogo}}">
    </div> -->

    <!-- /.login-logo -->
    <div class="card" *ngIf="!resetPasswordStatus">
        <div class="card-body login-card-body">
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div class="input-group mb-3">
                    <input type="password" [ngClass]="{'is-invalid': resetPasswordForm.get('Password')?.errors && resetPasswordForm.get('Password')?.touched}" class="form-control" formControlName="Password" placeholder="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                    <br />
                    
                    <div class="invalid-feedback"
                        *ngIf="resetPasswordForm.get('Password')?.hasError('required') && resetPasswordForm.get('Password')?.touched">
                        Password is required
                    </div>

                    <div class="invalid-feedback"
                        *ngIf="resetPasswordForm.get('Password')?.hasError('minlength') && resetPasswordForm.get('Password')?.touched">
                        Password must be at least 4 characters
                    </div>

                    <div class="invalid-feedback"
                        *ngIf="resetPasswordForm.get('Password')?.hasError('maxlength') && resetPasswordForm.get('Password')?.touched">
                        Password cannot exceed 8 characters
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" [ngClass]="{'is-invalid': (resetPasswordForm.get('ConfirmPassword')?.errors && resetPasswordForm.get('ConfirmPassword')?.touched) || (resetPasswordForm.get('ConfirmPassword')?.touched && resetPasswordForm.hasError('mismatch'))}" class="form-control" formControlName="ConfirmPassword" placeholder="Retype Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                    <div class="invalid-feedback"
                        *ngIf="resetPasswordForm.get('ConfirmPassword')?.hasError('required') && resetPasswordForm.get('ConfirmPassword')?.touched">
                        Password is required
                    </div>

                    <div class="invalid-feedback"
                        *ngIf="resetPasswordForm.get('ConfirmPassword')?.touched && resetPasswordForm.hasError('mismatch')">
                        Password must match
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                    </div>
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a routerLink="/login">Login</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>

    <div class="help-block" *ngIf="resetPasswordStatus">
        <div class="alert alert-success alert-dismissible">
            <h5><i class="icon fas fa-check"></i> Congratulations!</h5>
            Your password was changed successfully.
        </div>
        
        <div>
            <a routerLink="/login" class="btn btn-block btn-primary">Login</a>
        </div>
    </div>
</div>