<div class="card-body login-card-body" *ngIf="!forgotPasswordStatus">
    <p class="login-box-msg text-center">You forgot your password? Enter your email to reset it.</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="mb-3">
            <div class="input-group">
                <input type="email" class="form-control" formControlName="Email" placeholder="Email"
                    [ngClass]="{'is-invalid': forgotPasswordForm.get('Email')?.invalid && forgotPasswordForm.get('Email')?.touched}" />

                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>

            <div class="invalid-feedback d-block"
                *ngIf="forgotPasswordForm.get('Email')?.hasError('required') && forgotPasswordForm.get('Email')?.touched">
                Email is required
            </div>

            <div class="invalid-feedback d-block"
                *ngIf="forgotPasswordForm.get('Email')?.hasError('email') && forgotPasswordForm.get('Email')?.touched">
                Enter a valid email
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100">Request new password</button>
    </form>

    <div class="text-center">
        <p class="mb-1"><a routerLink="/login">Login</a></p>
        <p class="mb-0"><a routerLink="/register">Register a new membership</a></p>
    </div>
</div>

<div class="card-body login-card-body" *ngIf="forgotPasswordStatus">
    <div class="alert alert-success">
        <h5><i class="fas fa-check"></i> Email Sent</h5>
        <p>We sent a reset link to<b>{{ forgotPasswordForm.get('Email')?.value }}</b></p>
        <p>Please check your inbox and follow the instructions.</p>
    </div>
    <a routerLink="/login" class="btn btn-primary w-100">Login</a>
</div>